!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Myapp'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Myapp'}"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = javascript_pack_tag "hello_vue"
    = csrf_meta_tags
  %body
    %div{:id => "app"}